<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Getting Started: Handling Form Submission</title>
</head>

<body>
  <h1>Form</h1>
  <form action="#" enctype="multipart/form-data" method="post" th:action="@{/employees}" th:object="${employee}">
    <p>name: <input th:field="*{name}" type="text" /></p>
    <p>
      document:<input multiple="multiple" th:field="*{document}" type="file" />
      <input type="submit" value="upload" />
      <input type="reset" value="Reset" />
    </p>
  </form>
</body>

</html>